node_RED.txt
[{"id":"fa9a10ba.a317","type":"inject","z":"614806e.bb61af8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":166,"y":115,"wires":[["d683f41a.355768"]]},{"id":"d683f41a.355768","type":"oM2M-Application","z":"614806e.bb61af8","xSCL":"2aa0f40.1b0020c","xA":"2f788dec.13b472","obixType":"Final","obixCategory":"GatewayApplication","obixLocation":"NCKU","obixAnnounce":true,"x":349,"y":113,"wires":[["a605d65a.4eec48"]]},{"id":"a605d65a.4eec48","type":"http request","z":"614806e.bb61af8","name":"","method":"POST","ret":"txt","url":"","tls":"","x":544,"y":112,"wires":[["15559a8f.5f0a05"]]},{"id":"15559a8f.5f0a05","type":"debug","z":"614806e.bb61af8","name":"","active":true,"console":"false","complete":"false","x":729,"y":109,"wires":[]},{"id":"b9b4d58f.4b1a38","type":"inject","z":"614806e.bb61af8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":167,"y":195,"wires":[["5b0029e8.2942a8"]]},{"id":"ab029cf0.d5c7","type":"inject","z":"614806e.bb61af8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":162,"y":272,"wires":[["2b374957.d24486"]]},{"id":"fd352461.5159f8","type":"inject","z":"614806e.bb61af8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":153,"y":344,"wires":[["b0dcede6.1f26b"]]},{"id":"5b0029e8.2942a8","type":"oM2M-Descriptor-Container","z":"614806e.bb61af8","xSCL":"e67afd92.62675","xA":"2f788dec.13b472","x":375,"y":195,"wires":[["108b5c6d.c0bce4"]]},{"id":"2b374957.d24486","type":"oM2M-Descriptor-ContentInstance","z":"614806e.bb61af8","xSCL":"6f774a4e.e19df4","xA":"2f788dec.13b472","obixType":"","obixLocation":"","x":406,"y":273,"wires":[["5901907c.d1feb"]]},{"id":"b0dcede6.1f26b","type":"oM2M-Data-Container","z":"614806e.bb61af8","xSCL":"2aa0f40.1b0020c","xA":"2f788dec.13b472","maxNrOfInstances":"10","obixAnnounce":false,"x":357,"y":344,"wires":[["b76bc6a4.6bf4e8"]]},{"id":"1fe316e9.dfb539","type":"oM2M-Data-ContentInstance","z":"614806e.bb61af8","xSCL":"e67afd92.62675","xA":"2f788dec.13b472","obixCategory":"","x":506,"y":431,"wires":[["fa31e2ae.57014"]]},{"id":"7a5de5e1.58e79c","type":"inject","z":"614806e.bb61af8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":151,"y":431,"wires":[["b2fbbfc2.b4192"]]},{"id":"108b5c6d.c0bce4","type":"http request","z":"614806e.bb61af8","name":"","method":"POST","ret":"txt","url":"","tls":"","x":602,"y":197,"wires":[["ca5348c8.80ca58"]]},{"id":"5901907c.d1feb","type":"http request","z":"614806e.bb61af8","name":"","method":"POST","ret":"txt","url":"","tls":"","x":639,"y":273,"wires":[["55f24507.dfb45c"]]},{"id":"b76bc6a4.6bf4e8","type":"http request","z":"614806e.bb61af8","name":"","method":"POST","ret":"txt","url":"","tls":"","x":581,"y":344,"wires":[["4a715f7e.4159"]]},{"id":"fa31e2ae.57014","type":"http request","z":"614806e.bb61af8","name":"","method":"POST","ret":"txt","url":"","tls":"","x":740,"y":430,"wires":[["14f65dc1.cb56d2","a0fa3789.aa2508"]]},{"id":"ca5348c8.80ca58","type":"debug","z":"614806e.bb61af8","name":"","active":true,"console":"false","complete":"false","x":795,"y":198,"wires":[]},{"id":"55f24507.dfb45c","type":"debug","z":"614806e.bb61af8","name":"","active":true,"console":"false","complete":"false","x":825,"y":273,"wires":[]},{"id":"4a715f7e.4159","type":"debug","z":"614806e.bb61af8","name":"","active":true,"console":"false","complete":"false","x":769,"y":344,"wires":[]},{"id":"14f65dc1.cb56d2","type":"debug","z":"614806e.bb61af8","name":"","active":true,"console":"false","complete":"false","x":725,"y":511,"wires":[]},{"id":"b2fbbfc2.b4192","type":"function","z":"614806e.bb61af8","name":"My Data","func":"var data = {\n    type:'string',\n    unit:'degree',\n    data:msg.payload\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;\n/*[\n    {\n      \"temperature\": 30,\n      \"humidity\": 30,\n    },]*/","outputs":1,"noerr":0,"x":311,"y":431,"wires":[["1fe316e9.dfb539"]]},{"id":"2763428d.62096e","type":"http in","z":"614806e.bb61af8","name":"","url":"/sensor","method":"post","swaggerDoc":"","x":138,"y":502,"wires":[["14f65dc1.cb56d2","b2fbbfc2.b4192"]]},{"id":"a0fa3789.aa2508","type":"http response","z":"614806e.bb61af8","name":"","x":914,"y":430,"wires":[]},{"id":"2aa0f40.1b0020c","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"},{"id":"2f788dec.13b472","type":"xA","z":"","appId":"SENSOR","contactUrl":"localhost:1880"},{"id":"e67afd92.62675","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"},{"id":"6f774a4e.e19df4","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"}]